
#logo-container {
    height: 57px;
    margin-bottom: 32px;
}

#logo-container > img {
    height: 100%;
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
    background-color: transparent;
}

ul.side-nav li.logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px;
    background-color: #EF1C2B;
}

/**
*   OVERRIDES FOR THE MATERIAL.CSS
**/
nav
{
    background-color: #d32f2f;
}

.side-nav li {
    padding: 0px;
}
.side-nav .collapsible-header
{
    margin: 0px;
}
.bold > a
{
    font-weight: bold;
}
